.yoga-input__group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5715;
  list-style: none;
  position: relative;
  display: block;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  &::before {
    box-sizing: border-box;
    display: table;
    content: "";
  }

  &::after {
    box-sizing: border-box;
    display: table;
    clear: both;
    content: "";
  }

  >* {
    display: inline-block;
    float: none;
    vertical-align: top;
    border-radius: 0;
  }

  .yoga-input:hover .yoga-input__inner,
  .yoga-input__inner.focused {
    z-index: 1;
    border-right-width: 1px;

    &+* {
      margin-left: 0;
    }
  }

  >*:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    &.yoga-input .yoga-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  >*:not(:first-child) {
    margin-right: -1px;
    border-right-width: 1px;

    &.yoga-input .yoga-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  >*:not(:last-child) {
    margin-right: -1px;
    border-right-width: 1px;
  }

  >*:last-child,
  .yoga-input .yoga-input__inner {
    border-right-width: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
