$black-fa: #fafafa !default; // table stripe
$black-f6: #f6f6f6 !default; // global bg
$black-ee: #eee !default; // light divider
$black-a0: #a0a0a0 !default; // divider/border
$black-e0: #e0e0e0 !default; // divider/border
$black-e5: #e5e5e5 !default; // divider/border
$black-d8: #d8d8d8 !default; // dotted line
$black-b7: #b7b7b7 !default; // placeholder
$black-99: #999 !default; // secondary text
$black-66: #666 !default; // regular text
$black-33: #333 !default; // primary text

$error: #ff4742 !default;
$error-bg: #ffe9e8 !default;
$warning: #ffbf00 !default;
$warning-bg: #fff7e0 !default;
$success: #5c7 !default;
$success-bg: #ebf9ef !default;
$info: #0046ab !default;
$info-bg: #e5eefb !default;

$blue: #1791f2 !default;
$blue-light: #2673dd !default;

$white: #fff !default;
$black: #000 !default;
$orange: #ee4d2d !default;
$cyan: #00bfa5 !default;
