@import "./color.scss";

// primary
$primary-color: $orange !default;
// secondary
$secondary-color: $cyan !default;

// placeholder
$placeholder-color: $gray-6 !default;

// ********** text ********** //
$text-color-primary: $gray-9 !default;
$text-color-secondary: $gray-7 !default;

// ********** border ********** //
$border-color: $gray-4 !default;
$border-radius: 4px !default;

// ********** divider ********** //
$divider-color: $gray-4 !default;
$divider-color-light: $gray-3 !default;

// ********** transition ********** //
$duration-time-fast: 0.2s !default;
$duration-time-slow: 0.36s !default;
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1) !default;
$default-all-fast-transition: all $duration-time-fast $ease-in-out !default;
$default-all-slow-transition: all $duration-time-slow $ease-in-out !default;
